@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', serif;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  padding: 1% 1%;
  background-image: url("/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

a{
  color: #000;
  text-decoration: none;
}