.main{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 40px;
  align-items: center;
}
.h2{
  font-weight: 500;
  font-style: italic;
  color: #6F2D0B;
  text-align: center;
  font-size: 24px;
}
.h1{
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
}
.pluses__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-bottom: 10px;
}
.h6{
  font-weight: 500;
  font-size: 18px;
  padding: 25px 25px;
  background-color: #E2A348;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #1283BE;
  
  transition: all ease-in-out 300ms;
}
.text{
  width: 80%;
  font-size: 21px;
  text-align: center;
}
.ul{
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.li{
  font-size: 17px;
  font-weight: 500;
  border: 2px solid #1283BE;
  padding: 6px 10px;
  border-radius: 7px;
  background-color: rgba(199,210,208,0.5);
  
  transition: all ease-in-out 300ms;
}