.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 74vh;
    width: 100%;
}
.question{
    background-color: rgba(199,210,208,0.6);
    padding: 20px 40px;
    border: 2px solid #1283BE;
    border-radius: 15px;
    width: 800px;
}
.task__number{
    font-size: 20px;
    opacity: 0.5;
}
.task__title{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-style: italic;
}
.options__section{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.next{
    display: block;
    margin: 0 auto;
    background: none;
    border: 2px solid #E2A348;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 10px;
    
    transition: all ease-in-out 200ms;
}
.next:hover{
    cursor: pointer;
    border-color: #1283BE;
    
    transition: all ease-in-out 200ms;
}
.next:active{
    transform: scale(0.97);
    
    transition: all ease-in-out 200ms;
}
.next:disabled{
    border: 2px solid #E2A348 !important;
    transform: none !important;
    cursor: default !important;
}
.hello__text{
    font-size: 18px;
    margin-bottom: 10px;
}
.hello__title{
    margin-bottom: 5px;
    font-size: 25px;
}
.hello{
    width: 700px;
}
.hello_button:hover{
    background-color: #E2A348;
}
.main__finished{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
.finish__title{
    font-size: 26px;
    font-style: italic;
}

@media screen and (max-width: 1150px) {
    .task__title{
        font-size: 23px;
    }
    .task__number{
        font-size: 18px;
    }
    .next{
        font-size: 16px;
    }
    .question{
        width: 700px;
    }
    .hello__text{
        font-size: 16px;
    }
    .hello__title{
        font-size: 23px;
    }
    .hello{
        width: 650px;
    }
    .finish__title{
        font-size: 24px;
    }
    .main__finished{
        padding-bottom: 20px;
    }
}

@media screen and (orientation: portrait) {
    .main{
    }
    .hello{
        width: 80vw;
        height: auto;
    }
    .hello__title{
        font-size: 5vw;
    }
    .hello__text{
        font-size: 3.5vw;
    }
    .next{
        font-size: 4vw;
    }
    .question{
        width: 80vw;
        height: auto;
    }
    .task__number{
        font-size: 4.5vw;
    }
    .task__title{
        font-size: 5vw;
    }
    .finish__title{
        font-size: 5vw;
    }
}